# Node.js files
node_modules/
build/
npm-debug.log
yarn-error.log

# Electron files
dist/
*.asar
*.log
*.dmp

# Editor files
.vscode/
*.swp
*.swo
*.bak

# Mac files
.DS_Store

# Windows files
Thumbs.db
Desktop.ini